
.hsb-bg-title {
    background-color: #bea1d1;
    color: #1a1a1e;
}

.hsb-form-back {
    background-color: #dfcdd0;
}

.hsb-form-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 5px;
}
